{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'shop/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
    <script src="{% static 'shop/js/script.js' %}"></script>
    <script src="{% static 'common/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'common/js/slick.min.js' %}"></script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block head_title %}{% endblock %}</title>
    <!--中央寄せ、フォーム系のタグは全てBootstrapから拝借-->
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="containers">

        <header class="header_">
            <div class="header__inner_">
                <div class="header_title_">
                    <a class="navbar-brand" href="{% url 'shop:home' %}">ECサイト</a>
                </div>
                <nav>
                    <ul class="gnavi">
                        <li><a href="{% url 'shop:home' %}">ホーム</a></li>
                        <li><a href="{% url 'shop:list' %}">Product</a></li>
                        {% if request.user.is_authenticated %}
                        <li class="current"><a href="{% url 'accounts:my_page' user.id %}">アカウント</a></li>
                        {% else %}
                        <li class="current"><a href="{% url 'account_login' %}">ログイン</a></li>
                        {% endif %}
                        <li><a class="nav-link" href="{% url 'shop:cart' %}">カート<span class="badge badge-pill badge-warning">{{ request.num }}</span></a></li>
                        <li><a href="{% url 'shop:contact' %}">CONTACT</a></li>
                        <li>
                            <form role="search" action="{% url 'shop:search' %}" method="GET">
                                <input type="text" name="search" value="{{ request.GET.search }}" id="search-text">
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="container">

            <div class="body_area">
                <div class="body_area_inner">
                    {% block body %}
                    {% if messages %}
                    <div class="message_area">
                        <strong>Messages:</strong>
                        <ul>
                            {% for message in messages %}
                            <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <div class="menu_area">
                        <strong>Menu:</strong>
                        <ul>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'account_email' %}">メールアドレス変更</a></li>
                            <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}">ログイン</a></li>
                            <li><a href="{% url 'account_signup' %}">ユーザー登録</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    <!--TODO:ここにログインフォーム等が表示される-->
                    {% block content %}
                    {% endblock %}

                    {% endblock %}

                    {% block extra_body %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div> <!-- containers -->
    <footer class="py-2 bg-dark">
        <p class="m-0 text-center text-white">
            &copy; ECsite
        </p>
    </footer>
</div> <!-- wrapper -->
</body>
</html>