{% extends "accounts/base.html" %}
{% load static %}
{% block content %}

        <nav>
            <ul class="gnavi">
                <li><a href="/">ご注文履歴</a></li>
                <li><a href="/">お気に入り一覧</a></li>
                <li class="current"><a href="{% url 'accounts:my_page' user.id %}">会員情報編集</a></li>
                <li><a href="{% url 'accounts:address_list' user.id %}">お届け先一覧</a></li>
                <li><a href="{% url 'shop:contact' %}">退会手続き</a></li>
            </ul>
        </nav>

        <div class="card card-profile my-5 mx-auto">
            <div class="card-body">
                <h5 class="card-title text-center">プロフィール</h5>
                <table class="profile_table mb-4">
                    <tbody>
                    <tr>
                        <th class="header">名前</th>
                        <td class="data">{{ user.name }}</td>
                        <td class="data"><a class="btn btn-lg btn-warning btn-block" href="{% url 'accounts:name_edit' user.id %}">編集</a></td>
                    </tr>
                    <tr>
                        <th class="header">メールアドレス</th>
                        <td class="data">{{ user.email }}</td>
                        <td class="data"><a class="btn btn-lg btn-warning btn-block" href="{% url 'account_email' %}">編集</a></td>
                    </tr>
                    {% for address in request.user.addresses %}
                    <tr>
                        <th class="header">住所</th>
                        <td class="data">〒{{ address.prefcode }}<br>{{ address.address1 }}{{ address.address2 }}{{ address.address3 }}</td>
                        <td class="data"><a class="btn btn-lg btn-warning btn-block" href="{% url 'accounts:address_list' address.id %}">編集</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
<!--                <div class="button mx-auto">-->
<!--                    -->
<!--                </div>-->
            </div>
        </div>

{% endblock %}